.slide-fade-bottom {
	animation-name:slideFadeBottom;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.slide-fade-left {
	animation-name:slideFadeLeft;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.slide-fade-right {
	animation-name:slideFadeRight;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes slideFadeBottom {
	from {
		opacity:.75;
		transform: translateY(20px);
	}
	to {
		opacity:1;
		transform: translateY(0);
	}
}

@keyframes slideFadeLeft {
	from {
		opacity:.75;
		transform: translateX(20px);
	}
	to {
		opacity:1;
		transform: translateX(0);
	}
}

@keyframes slideFadeRight {
	from {
		opacity:.75;
		transform: translateX(-20px);
	}
	to {
		opacity:1;
		transform: translateX(0);
	}
}
