@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/akzidenzgrotesk-regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
}

html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	@apply text-gray-dark;
}

