@import 'elements';
@import 'box-sizing';
@import 'gradients';
@import 'animations';

#app {
	@apply gradient-default min-h-screen max-h-screen relative overflow-hidden flex flex-col justify-items-stretch;
}

.hide-bg {
	.background-images {
		img {
			transform:translate(37.5%, -50%);
		}

		.gfinity-bg {
			@apply opacity-0 scale-150;
		}
	}
}
.background-images {
	pointer-events:none;
	user-select: none;
	img {
		@apply absolute w-full h-full transition-transform ease-in-out object-contain duration-700;
		z-index:11;
		top:15px;
		right:-12%;
		transform:translate(0,0);
		opacity:.8;
		mix-blend-mode: multiply;
	}
}

.gfinity-bg {
	@apply absolute z-0 transition-all duration-300 opacity-100 scale-100 transform;
	width:1133px;
	height:1167px;
	top:-90px;
	left:-478px;
	content: url(~/assets/images/gfinity-g.svg);
}
