<template>
	<div class="flyup-menu">
		<div
			v-for="(row, i) in rows"
			:key="`option-${row}-${i}`"
			:aria-labelledby="`${_uid}-flyupMenu-${i}`"
			:class="{ 'flex-1': isActiveRow(options[row]) }"
			class="flex-col"
			role="listbox"
		>
			<GuiDivider />
			<GuiContextualButton
				:id="`${_uid}-flyupMenu-${i}`"
				:context="options[row].current"
				@interaction="setActiveRow(options[row])"
				:aria-label="row"
				:title="row"
				button-style="transparent"
				icon="caret-down"
				class="py-2"
			>
				{{ row }}
			</GuiContextualButton>
			<div
				v-show="isActiveRow(options[row])"
				:aria-expanded="isActiveRow(options[row])"
				role="option"
				class="flex flex-col"
			>
				<GuiContextualButton
					v-for="(option, y) in getOptionsForRow(options[row])"
					:key="option"
					:context="option"
					:aria-label="option"
					:title="option"
					@interaction="emitSetOption(row, option)"
					:style="`animation-delay:${y * 0.05}s`"
					button-style="transparent"
					class="py-1 slide-fade-left"
				>
				</GuiContextualButton>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'GuiFlyupMenu',
	props: {
		options: {
			type: Object,
			default: () => ({})
		}
	},
	data() {
		return {
			activeRow: null
		}
	},
	computed: {
		rows() {
			return Object.keys(this.options)
		}
	},
	methods: {
		getOptionsForRow(row) {
			return Object.values(row.options).filter(
				option => option !== row.current
			)
		},
		isActiveRow(row) {
			return this.activeRow === row
		},
		emitSetOption(row, option) {
			this.setActiveRow(null)
			this.$emit('setOption', { row, option })
		},
		setActiveRow(row) {
			this.activeRow = row
			this.$emit('setActiveRow', row)
		}
	}
}
</script>
