.button {
	@apply flex justify-center items-center;

	&.button-style-primary {
		@apply bg-blue-electric text-white;
	}

	&.button-style-secondary {
		@apply bg-gray-dark text-white;
	}

	&.button-style-prominent {
		@apply bg-red-gfinity text-white;
	}

	&.button-style-transparent {
		@apply bg-transparent text-gray-dark;
	}

	&.button-state-disabled {
		opacity:50%;
	}

	&.button-square {
		@apply w-8 h-8;
	}
}
