<template>
	<div
		:class="styleClass"
		@click="emitInteraction"
		@keyup.space="emitInteraction"
		class="button"
		role="button"
		tabindex="0"
	>
		<slot></slot>
	</div>
</template>
<script>
export default {
	name: 'GuiButton',
	props: {
		icon: {
			type: String,
			default: () => ''
		},
		context: {
			type: String,
			default: () => ''
		},
		buttonStyle: {
			type: String,
			default: () => 'primary'
		}
	},
	computed: {
		styleClass() {
			return `button-style-${this.buttonStyle}`
		}
	},
	methods: {
		emitInteraction() {
			this.$emit('interaction')
		}
	}
}
</script>
<style lang="scss">
@import './button';
</style>
