<template>
	<div class="avatar">
		<img v-if="imageSource" :src="imageSource" :alt="altText" />
	</div>
</template>
<script>
import { User } from '~/assets/js/users'

export default {
	name: 'GuiAvatar',
	props: {
		user: {
			type: [Object, User],
			default: () => ({})
		},
		image: {
			type: String,
			default: () => ''
		},
		alt: {
			type: String,
			default: () => ''
		}
	},
	computed: {
		imageSource() {
			return this.user ? this.user.avatar : this.image
		},
		altText() {
			return this.alt || 'Avatar'
		}
	}
}
</script>
<style lang="scss">
@import './avatar';
</style>
