<template>
	<div class="rank">
		<GuiIcon icon="gfinity-g" />
		<sup class="pt-1">{{ rank }}</sup>
	</div>
</template>
<script>
export default {
	name: 'GuiRank',
	props: {
		rank: {
			type: Number,
			default: () => 0
		}
	}
}
</script>
<style lang="scss">
@import 'rank';
</style>
