.top-bar {
	@apply flex flex-row items-center z-20;

	.spacer {
		@apply flex flex-col flex-1;
	}
}

.top-bar-logo {
	@apply h-26 w-26 flex items-center justify-center p-2 text-white bg-gray-dark;

	.svg {
		@apply max-w-full
	}
}

.top-bar-title {
	@apply text-callout-medium uppercase font-bold px-4;
}

.top-bar-menu-button {
	@apply h-26 w-12;
}
