<template>
	<div class="top-bar">
		<a class="top-bar-logo" role="button" tabindex="0">
			<Logo />
		</a>
		<div class="spacer" aria-hidden="true"></div>
		<p class="top-bar-title">
			Fifa 19
		</p>
		<GuiButton
			button-style="transparent"
			class="top-bar-menu-button"
			aria-label="Open Menu"
			title="Open Menu"
		>
			<GuiIcon icon="nav" />
		</GuiButton>
	</div>
</template>
<script>
import Logo from '~/assets/images/gfinity-logo.svg?inline'

export default {
	name: 'GuiTopBar',
	components: { Logo }
}
</script>
<style lang="scss">
@import './top-bar.scss';
</style>
