<template>
	<div id="app">
		<GuiTopBar />
		<nuxt />
		<span class="background-images">
			<img :src="$cdn('fifa19-ronaldo-fg-lg_jaqh5n.png')" alt="" />
			<span class="gfinity-bg"></span>
		</span>
	</div>
</template>
