<template>
	<div class="flex flex-col flex-1">
		<div
			class="flex flex-col flex-1 items-center justify-center relative z-20"
		>
			<NuxtLink to="/matchmaking">
				<GuiButton class="px-5 py-2 rounded-md">
					<span class="text-title-large">
						Start
					</span>
				</GuiButton>
			</NuxtLink>
		</div>
	</div>
</template>
<script>
export default {
	methods: {}
}
</script>
