<template>
	<div class="matchmaking flex flex-col flex-1 justify-items-stretch">
		<main class="flex flex-col flex-1">
			<NuxtChild />
		</main>
	</div>
</template>
<script>
export default {
	name: 'MatchMaking',
	data() {
		return {
			usersInQueue: 0,
			interval: 0
		}
	},
	mounted() {
		this.setUsersInQueue()
	},
	beforeDestroy() {
		clearInterval(this.interval)
	},
	methods: {
		setUsersInQueue() {
			this.usersInQueue = Math.floor(Math.random() * 1000) + 3500
			clearInterval(this.interval)
			this.interval = setInterval(() => {
				this.setUsersInQueue()
			}, 10000)
		}
	}
}
</script>
