.button.contextual-button {
	@apply flex flex-row justify-items-stretch items-center justify-between;
}

.contextual-button-cta, .contextual-button-context, .contextual-button-icon {
	@apply flex flex-col justify-center px-4;
}

.contextual-button-cta {
	@apply flex flex-col flex-1 text-callout-small font-bold font-sans whitespace-no-wrap;
}

.contextual-button-context {
	@apply flex flex-col flex-1 text-callout-small font-light font-sans whitespace-no-wrap;
}

.contextual-button-icon {
	@apply flex flex-col flex-initial;
}
