<template>
	<GuiButton
		:buttonStyle="buttonStyle"
		@interaction="emitInteraction"
		class="contextual-button"
	>
		<div class="contextual-button-cta">
			<slot></slot>
		</div>
		<slot name="context">
			<div class="contextual-button-context">
				<p v-text="context" />
			</div>
		</slot>
		<slot name="icon">
			<div class="contextual-button-icon">
				<GuiIcon :icon="icon"></GuiIcon>
			</div>
		</slot>
	</GuiButton>
</template>
<script>
export default {
	name: 'GuiContextualButton',
	props: {
		icon: {
			type: String,
			default: () => ''
		},
		context: {
			type: String,
			default: () => ''
		},
		buttonStyle: {
			type: String,
			default: () => 'primary'
		}
	},
	computed: {
		styleClass() {
			return `button-style-${this.buttonStyle}`
		}
	},
	methods: {
		emitInteraction() {
			this.$emit('interaction')
		}
	}
}
</script>
<style lang="scss">
@import './contextual-button';
</style>
