<template>
	<div class="player-list flex flex-row -mx-3 overflow-x-auto">
		<GuiPlayerCard
			v-if="!!teamLeader"
			:user="teamLeader.user"
			class="slide-fade-bottom"
			subheading="Team Leader /"
		>
			<div class="flex flex-row flex-wrap mt-4 items-center">
				<GuiBadge v-show="teamLeader.readyState">Ready</GuiBadge>
				<GuiRank :rank="teamLeader.user.rank" />
			</div>
		</GuiPlayerCard>

		<GuiPlayerCard
			v-for="(member, i) in team"
			:user="member.user"
			:key="`team-${member.user.name}`"
			:style="`animation-delay:${(i + 1) * 0.1}s`"
			class="slide-fade-bottom"
			subheading="Team Player /"
		>
			<div class="flex flex-row flex-wrap mt-4 items-center">
				<GuiButton
					@interaction="removePlayer(member)"
					aria-label="Remove Player"
					title="Remove Player"
					button-style="prominent"
					class="absolute top-0 right-0 mr-3 rounded-tr-md"
				>
					<GuiIcon icon="close" />
				</GuiButton>
				<GuiBadge v-show="member.readyState">Ready</GuiBadge>
				<GuiRank :rank="member.user.rank" />
			</div>
		</GuiPlayerCard>

		<GuiPlayerCard
			@click.native="openFriendsList"
			@keydown.space="openFriendsList"
			:style="`animation-delay:${(team.length + 1) * 0.1}s`"
			subheading="Team Player /"
			role="button"
			tabindex="0"
			aria-label="Invite Player"
			title="Invite Player"
			class="slide-fade-bottom"
		>
			<template slot="heading">
				<div class="player-card-heading">
					Invite Player
					<GuiIcon :size="6" icon="caret-right" />
				</div>
			</template>
		</GuiPlayerCard>
	</div>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
	name: 'PlayerList',
	computed: {
		...mapState(['matchmaking']),
		...mapState(['user']),

		teamLeader() {
			return this.matchmaking.leader
		},

		team() {
			return this.matchmaking.team
		}
	},
	methods: {
		...mapActions('matchmaking', [
			'setLeader',
			'addTeamMember',
			'removeTeamMember'
		]),

		openFriendsList() {
			const teamIds = this.team.map(member => member.user.id)
			const firstFriend = this.user.friends.find(friend => {
				return !teamIds.includes(friend.id)
			})
			if (firstFriend) {
				this.invitePlayer(firstFriend)
			}
		},

		invitePlayer(user) {
			if (this.team.find(member => member.user.id === user.id)) {
				return false
			}
			this.addTeamMember(user)
		},

		removePlayer(member) {
			this.removeTeamMember(member)
		}
	}
}
</script>
