<template>
	<div class="lobby flex flex-col flex-1 relative z-10">
		<div class="flex flex-col">
			<NuxtLink to="/" class="flex flex-row items-center py-2">
				<GuiIcon icon="arrow-left" class="mx-3" />
				<span class="text-callout-medium font-bold mx-3">
					Matchmaking Lobby
				</span>
			</NuxtLink>
			<GuiDivider />
		</div>
		<div class="flex flex-col flex-1 relative">
			<div v-show="!isFlyoutActive" class="flex flex-col flex-1 p-3">
				<h1 class="title-large">
					{{ possessivize(currentUser.name) }} lobby
					<GuiIcon v-show="lobbyLocked" icon="lock" />
				</h1>
				<div class="flex flex-row mb-5">
					<GuiBadge class="rounded-r-full dark">
						Fifa 19
					</GuiBadge>
				</div>
				<PlayerList />
			</div>
			<div
				:class="isFlyoutActive ? 'h-full' : 'h-auto'"
				class="absolute w-full bottom-0 slide-fade-bottom"
			>
				<GuiFlyupMenu
					:options="lobbyOptions"
					@setActiveRow="onFlyoutActive"
					@setOption="setLobbyOption"
				/>
			</div>
		</div>

		<NuxtLink to="/matchmaking/queue-screen">
			<GuiContextualButton
				:context="`${usersInQueue} in Queue`"
				icon="arrow-right"
				class="h-20 z-10 relative slide-fade-bottom"
			>
				Play Now
			</GuiContextualButton>
		</NuxtLink>
	</div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import { GAME_MODES, GAME_TYPES, LOBBY_STATUSES } from '~/assets/js/constants'
import { possessivize } from '~/plugins/helpers'
import PlayerList from '~/components/partials/_PlayerList'
export default {
	name: 'Lobby',
	components: { PlayerList },
	head: {
		bodyAttrs: {
			class: 'hide-bg'
		}
	},
	data() {
		return {
			activeFlyout: null
		}
	},
	computed: {
		...mapState({ users: 'user' }),
		...mapState(['matchmaking']),

		currentUser() {
			return this.users.currentUser
		},

		friends() {
			return this.users.friends
		},

		lobbyLocked() {
			return this.matchmaking.lobbyStatus !== LOBBY_STATUSES.Public
		},

		teamLeader() {
			return this.matchmaking.leader
		},

		team() {
			return this.matchmaking.team
		},

		isFlyoutActive() {
			return this.activeFlyout != null
		},

		usersInQueue() {
			return this.matchmaking.usersInQueue
		},

		lobbyOptions() {
			return {
				'Game Types': {
					options: GAME_TYPES,
					current: this.matchmaking.gameType
				},
				Gamemode: {
					options: GAME_MODES,
					current: this.matchmaking.gameMode
				},
				'Lobby Status': {
					options: LOBBY_STATUSES,
					current: this.matchmaking.lobbyStatus
				}
			}
		}
	},
	created() {
		if (this.teamLeader == null) {
			this.setLeader(this.currentUser)
		}
	},
	methods: {
		...mapActions('matchmaking', [
			'setLeader',
			'addTeamMember',
			'removeTeamMember',
			'setLobbyOption'
		]),
		possessivize,
		onFlyoutActive(row) {
			this.activeFlyout = row
		}
	}
}
</script>
