<template>
	<div class="queue-screen flex flex-col flex-1">
		<span
			:class="hasQueuePopped ? 'bg-gray-dark' : 'bg-blue-electric'"
			class="absolute z-10 mt-26 inset-0 mb-16 mr-8 slide-fade-right transition-all duration-200"
		></span>
		<div class="flex-1 relative z-20">
			<NuxtLink
				to="/matchmaking"
				class="flex flex-col h-26 w-26 flex-initial bg-gray-dark items-center justify-center text-white relative z-10"
				tabindex="0"
			>
				<GuiIcon icon="arrow-left"></GuiIcon>
			</NuxtLink>
			<div class="flex flex-col p-4 mr-10">
				<h1 class="text-callout-medium font-semibold text-white mt-6">
					Matchmaking Lobby
				</h1>

				<h2
					v-text="headingText"
					class="text-title-super text-white font-bold my-4"
				></h2>

				<h3
					v-text="descriptionText"
					class="text-body font-normal text-white mb-5"
				></h3>
				<div class="flex flex-row items-center">
					<p class="text-footnote font-light text-white w-16">
						Lobby
					</p>
					<div class="flex flex-row flex-1 overflow-auto py-3">
						<div v-for="(member, i) in team" class="flex flex-col">
							<GuiAvatar
								:user="member.user"
								:style="`animation-delay:${i * 0.1}s`"
								class="slide-fade-bottom"
							/>
						</div>
					</div>
				</div>
				<div class="flex flex-row items-center py-4">
					<div class="flex flex-col w-16">
						<span
							class="bg-white border h-px border-white w-3"
						></span>
					</div>
					<p class="text-footnote font-light text-white flex flex-1">
						<span
							v-if="hasQueuePopped"
							v-text="disclaimerText"
						></span>
						<span v-else>
							<strong>{{ usersInQueue }}</strong> in Queue
						</span>
					</p>
				</div>
			</div>
		</div>

		<NuxtLink
			:to="hasQueuePopped ? '/' : '/matchmaking'"
			class="ml-16 mb-6"
		>
			<GuiContextualButton
				:button-style="hasQueuePopped ? 'primary' : 'secondary'"
				:icon="hasQueuePopped ? 'arrow-right' : 'close'"
				class="h-22 z-20 relative slide-fade-left transition-all duration-200"
			>
				{{ buttonText }}

				<template slot="context">
					<div class="contextual-button-context text-right">
						<p v-text="timeString"></p>
					</div>
				</template>
			</GuiContextualButton>
		</NuxtLink>
	</div>
</template>
<script>
import { mapState } from 'vuex'
const QUEUE_INTERVAL_TIME = 100
const SECONDS_UNTIL_QUEUE_POPS = 20
const QUEUE_STATES = {
	InQueue: 'in queue',
	Waiting: 'waiting'
}

export default {
	middleware({ store, redirect }) {
		if (!store.state.matchmaking.leader) {
			return redirect('/matchmaking')
		}
	},
	data() {
		return {
			headingText: 'Searching for compatible opponents',
			descriptionText:
				'We’re searching our database of players to pair you with an opponent of similar skill',
			buttonText: 'Searching...',
			disclaimerText:
				'By tapping accept, you agree to play a match that may last for up to 30 minutes.',
			currentTimeInQueue: 0,
			lastTimeInQueue: performance.now(),
			queueInterval: 0,
			queueState: QUEUE_STATES.InQueue
		}
	},
	computed: {
		...mapState(['matchmaking']),

		team() {
			return [this.matchmaking.leader, ...this.matchmaking.team]
		},

		usersInQueue() {
			return this.matchmaking.usersInQueue
		},

		timeSpentInQueue() {
			return new Date(this.currentTimeInQueue * 1000)
				.toISOString()
				.substr(14, 5)
		},

		timeString() {
			return `${this.hasQueuePopped ? '-' : ''}${this.timeSpentInQueue}`
		},

		hasQueuePopped() {
			return this.queueState === QUEUE_STATES.Waiting
		},

		gameMode() {
			return this.matchmaking.gameMode
		}
	},
	mounted() {
		clearInterval(this.queueInterval)
		this.queueInterval = setInterval(() => {
			this.currentTimeInQueue +=
				(performance.now() - this.lastTimeInQueue) / 1000
			this.lastTimeInQueue = performance.now()
			if (this.currentTimeInQueue >= SECONDS_UNTIL_QUEUE_POPS) {
				this.popQueue()
			}
		}, QUEUE_INTERVAL_TIME)
	},
	beforeDestroy() {
		clearInterval(this.queueInterval)
	},
	methods: {
		popQueue() {
			if (this.hasQueuePopped) {
				this.$router.replace('/matchmaking')
			}
			this.queueState = QUEUE_STATES.Waiting
			this.headingText = 'A match has been found for you!'
			this.descriptionText = `We’ve found a compatible opponent for you to play ${this.gameMode} with in FIFA 19`
			this.buttonText = 'Accept'
			this.currentTimeInQueue = 0
		}
	}
}
</script>
