.player-card {
	@apply flex flex-col px-3 relative;
}

.player-card-avatar {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	@apply w-32 border-concrete rounded-md overflow-hidden shadow-sm mb-3;

	img {
		@apply absolute inset-0 w-full h-full object-cover;
	}
}

.player-card-responsive-image {
	width:100%;
	height:0;
	padding-bottom:133%;
	position:relative;
}

.player-card-subheading {
	@apply text-footnote text-gray-light mb-2;
}

.player-card-heading {
	@apply text-callout-medium text-gray-dark font-bold;
}
