<template>
	<div class="player-card">
		<slot name="avatar">
			<div :class="{ border: !hasUser }" class="player-card-avatar">
				<div class="player-card-responsive-image">
					<img v-if="hasUser" :src="avatar" alt="" />
				</div>
			</div>
		</slot>
		<slot name="subheading">
			<p class="player-card-subheading">{{ subheading }}</p>
		</slot>
		<slot name="heading">
			<p v-if="hasUser" class="player-card-heading">{{ user.name }}</p>
		</slot>

		<slot></slot>
	</div>
</template>
<script>
import { User } from '~/assets/js/users'

export default {
	name: 'GuiPlayerCard',
	props: {
		user: {
			type: [Object, User],
			default: () => null
		},
		subheading: {
			type: String,
			default: () => ''
		}
	},
	computed: {
		hasUser() {
			return !!this.user
		},
		avatar() {
			return this.user.avatar
		}
	}
}
</script>
<style lang="scss">
@import 'player-card';
</style>
