<template>
	<div
		v-html="iconSVG"
		:class="`w-${size} h-${size} leading-${size - 1}`"
		class="icon"
		role="img"
	/>
</template>
<script>
export const ICON_MAP = {
	'arrow-left': require('~/assets/images/icons/gf-arrow-left.svg?raw'),
	'arrow-right': require('~/assets/images/icons/gf-arrow-right.svg?raw'),
	'caret-down': require('~/assets/images/icons/gf-caret-down.svg?raw'),
	'caret-right': require('~/assets/images/icons/gf-caret-right.svg?raw'),
	'gfinity-g': require('~/assets/images/icons/gf-pts-g.svg?raw'),
	close: require('~/assets/images/icons/gf-close.svg?raw'),
	lock: require('~/assets/images/icons/gf-lock.svg?raw'),
	nav: require('~/assets/images/icons/gf-nav-def.svg?raw')
}
export default {
	name: 'GuiIcon',
	inheritAttrs: true,
	props: {
		icon: {
			type: String,
			default: () => ''
		},
		size: {
			type: Number,
			default: () => 8
		}
	},
	computed: {
		iconSVG() {
			return ICON_MAP[this.icon]
		},
		isValid() {
			return !!this.iconSVG
		}
	}
}
</script>

<style lang="scss">
@import 'icon';
</style>
